@page
@model GobernaRegistroBio.App.Frontend.Pages.DetallesGobernacionModel
@{
}
<h1>Detalles del Personal de aseo</h1>
<table class="table">
    <tr>
        <td>@Model.gobernacion.Dependencias</td>
        <td>@Model.gobernacion.Aforo</td>
          
    </tr>
</table>
<a class="btn btn-primary" asp-area="" asp-page="/Listas/Gobernacion">Gobernacion</a>