@page
@model GobernaRegistroBio.App.Frontend.Pages.EditarSecretarios_DespachoModel
@{
}
<h1>Editar información Secretarios de Despacho</h1>
<form method="post">
    <input type="hidden" asp-for="secretarios_despacho.Id">
    <div class="form-group">
        <label asp-for="secretarios_despacho.Despacho"></label>
        <input asp-for="secretarios_despacho.Despacho" class="form-control">
    
    
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
<a asp-page="./Secretarios_Despacho" class="btn-default"> Lista de Secretarios de Despacho</a>
