@page
@model GobernaRegistroBio.App.Frontend.Pages.EditarSecretarios_DespachoModel
@{
}
<h1>Editar información Secretarios de Despacho</h1>
<form method="post">
    <input type="hidden" asp-for="secretarios_despacho.Id">
    <div class="form-group">
        <label asp-for="secretarios_despacho.Ubicacion"></label>
        <input asp-for="secretarios_despacho.Ubicacion" class="form-control">
        <div class="form-group">
        <label asp-for="secretarios_despacho.Nombre"></label>
        <input asp-for="secretarios_despacho.Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="secretarios_despacho.Apellidos"></label>
        <input asp-for="secretarios_despacho.Apellidos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="secretarios_despacho.Identificacion"></label>
        <input asp-for="secretarios_despacho.Identificacion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="secretarios_despacho.Edad"></label>
        <input asp-for="secretarios_despacho.Edad" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="secretarios_despacho.Estado"></label>
        <input asp-for="secretarios_despacho.Estado" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="secretarios_despacho.Direccion"></label>
        <input asp-for="secretarios_despacho.Direccion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="secretarios_despacho.Telefono"></label>
        <input asp-for="secretarios_despacho.Telefono" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="secretarios_despacho.Rol"></label>
        <input asp-for="secretarios_despacho.Rol" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="secretarios_despacho.Ubicacion"></label>
        <input asp-for="secretarios_despacho.Ubicacion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="secretarios_despacho.Genero"></label>
        <input asp-for="secretarios_despacho.Genero" class="form-control">
    </div>
    
    
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
<a asp-page="./Secretarios_Despacho" class="btn-default"> Lista de Secretarios de Despacho</a>
