@page
@model GobernaRegistroBio.App.Frontend.Pages.EliminarDependenciaModel
@{
}
<h1>Se va a eliminar la dependencia</h1>
<table class="table">
    <tr>
        <td>@Model.dependencia.Ubicacion</td>
        <td>@Model.dependencia.Aforo_PorDependencia</td>
       
    </tr>
</table>
<form method="post">
    <input type="hidden" asp-for="dependencia.Id">
    <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
</form>