@page
@model GobernaRegistroBio.App.Frontend.Pages.EditarGobernador_AsesoresModel
@{
}
<h1>Editar información gobernador asesores</h1>
<form method="post">
    <input type="hidden" asp-for="gobernador_asesores.Id">
    <div class="form-group">
        <label asp-for="gobernador_asesores.Oficinas_Visitadas"></label>
        <input asp-for="gobernador_asesores.Oficinas_Visitadas" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="gobernador_asesores.Ubicacion"></label>
        <input asp-for="gobernador_asesores.Ubicacion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="gobernador_asesores.Nombre"></label>
        <input asp-for="gobernador_asesores.Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="gobernador_asesores.Apellidos"></label>
        <input asp-for="gobernador_asesores.Apellidos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="gobernador_asesores.Identificacion"></label>
        <input asp-for="gobernador_asesores.Identificacion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="gobernador_asesores.Edad"></label>
        <input asp-for="gobernador_asesores.Edad" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="gobernador_asesores.Estado"></label>
        <input asp-for="gobernador_asesores.Estado" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="gobernador_asesores.Direccion"></label>
        <input asp-for="gobernador_asesores.Direccion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="gobernador_asesores.Telefono"></label>
        <input asp-for="gobernador_asesores.Telefono" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="gobernador_asesores.Rol"></label>
        <input asp-for="gobernador_asesores.Rol" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="gobernador_asesores.Genero"></label>
        <input asp-for="gobernador_asesores.Genero" class="form-control">
    </div>
    
    
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
<a asp-page="./Gobernador_Asesores" class="btn-default"> Lista de gobernadores asesoress</a>
